@charset "UTF-8";

body {
    font: normal 1em Arial;
    background-color: rgb(86, 86, 211);
}

header {
    text-align: center;
    color: white;

}

section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.277);
    margin: auto;
}

div {
    margin: 0px;
    padding: 5px 20px;
}

div#ano {
    padding-top: 30px;
}

footer {
    text-align: center;
    color: white;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-style: italic;
}